<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VicentCodes Chat Example</title>
    <meta name="author" content="VicentCodes">
    <meta name="description" content="Chat Example">
    <meta name="keywords" content="Chat, Node, Express, Socket.io, JavaScript">
    <link rel="icon" href="https://vicentcode.dev/images/logo.ico" type="image/x-icon">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <style>
        /* Variables dinamicas */



        .chat-message[data-username="<%= userA %>"] {
            background-color: #009454;
            color: #ffffff;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 20%;
            margin-right: 5px;
            width: fit-content;
            align-self: flex-end;
        }


        .chat-message:not([data-username="<%= userA %>"]) {
            background-color: #e3e3e3;
            color: #000;
            margin-bottom: 5px;
            margin-right: 40px;
            padding-right: 10px;
            margin-right: 20%;
            margin-left: 5px;
            border-radius: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            align-self: flex-start;
        }

        .input-group {
            margin-top: auto;
        }
    </style>
</head>

<body>

    <div class="container contMain">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0 titleChat">Chat</h3>
            </div>
            <form action="/send" method="post">
                <div class="form-floating">
                    <div class="chat-container">
                        <div class="chat-messages" id="chat-container">
                            <% mensajes.forEach(mensaje=> { %>
                                <div class="chat-message" data-username="<%= mensaje.user %>">
                                    <%= mensaje.user + ': ' + mensaje.message %>
                                </div>
                                <% }); %>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" name="mensaje" class="form-control" style="margin-left: 10px;"
                                placeholder="Escribe un mensaje..." required>
                            <button type="submit" class="btn btn-primary" id="se">Enviar</button>
                        </div>
                    </div>


                </div>

            </form>
            <a href="/logout" class="btn btn-danger logout">Cerrar Sesión</a>
        </div>
    </div>

    <script>
        // evento actualizacion de clientes realTimeChat
        const eventSource = new EventSource("/sse");
        const chatContainer = document.getElementById("chat-container");
        eventSource.onmessage = (event) => {
            const data = JSON.parse(event.data);
            const messageP = `<div class="chat-message" data-username="${data.user}">${data.user + ': ' + data.message}</div>`;
            chatContainer.innerHTML += messageP;
            chatContainer.scrollTop = chatContainer.scrollHeight;
        };
        document.addEventListener("DOMContentLoaded", function () {
            chatContainer.scrollTop = chatContainer.scrollHeight;
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>